@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

svg text {
  font-family: 'Roboto', arial, sans-serif;
}

rect,
path,
text {
  transition: stroke 200ms, fill 200ms;
}

.hovered rect,
path.hovered {
  stroke: #3498db;
}

g.node {
  cursor: pointer;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
